
.titleHome{
    font-weight: 500;
    font-size: 24px;
    line-height: 29.04px;
}

.descricaoHome{
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    color: rgba(0, 0, 0, 0.54);
    
}

.headerHome{
    margin-left: 56px;
    margin-right: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    border-bottom: 1px solid rgba(215, 221, 233, 1);;
}

.logoHome{
    width: 150px;
    height: 36px;
}

