.mainContainer{
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 80vh;
}

.tarefasMain{
    border: 1px solid rgba(234, 236, 240, 1);
    width: Fixed (450px)px;
    height: Hug (446px)px;
    top: 124px;
    left: 495px;
    padding: 32px 0px 0px 0px;
    gap: 24px;
    border-radius: 16px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

}